.card-container { 
   padding: 5px;
   margin: 5px;  
}
div.container {
    display: flex; 
} 
.cards-container {
    border: 1px rgb(50, 7, 169) solid;
    border-radius: 25px;
    margin: 20px;
    height: fit-content;
}
.container{
    background-color: white;
}